footer.block(id="contact")
    a.nav-link(href="https://github.com/isombeg")
        i.fa.fa-github(id="icon-github")
    a.nav-link(href="https://www.linkedin.com/in/guy-jacques-isombe/")
        i.fa.fa-linkedin-square(id="icon-linkedin")
    a.nav-link(href="mailto: isombeg@mcmaster.ca")
        i.fa.fa-envelope(id="icon-email")