section.block.justify-content-center(id='resume-download')
    .container-fluid(id='resume-header-div')
        h2.display-3 Resume 
    .container-fluid(id='resume-btn-div')
        a(href='/pdfs/isombe_resume.pdf')
            button.btn.btn-info.btn-lg.btn-block(type='button') View 
    