@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Overall formatting */
body {
    background-image: url('https://media.giphy.com/media/3Z1b8Z5ESU2fgScGab/giphy.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Animations */

    /* SlideInLeft */
@-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
}
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 2s;
}

    /* Typewriter animation */
/* .typewriter {
    overflow: hidden;
    position: relative;
    width: 18em;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 38px;
    white-space: nowrap;
    
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 400ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 18em;
    }
}

@keyframes blinkTextCursor {

    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }

} */


section.cover {
    padding-top: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 900;
}

/* section.cover .media { 
    background-color: rgba(120, 155, 119, 0.9);
    padding: 15px;
} */

section.cover .media{
    width: 80vw;
}

section.cover img {
    border: 10px solid #ddd;
    width: 30%;
    padding: 0;
    height: auto;
}

section.cover .media-body {
    text-align: end;
}


/* Nav / Navbar Styles
===================================*/
.bg-custom{
    background-color: transparent;
    transition: 750ms ease;
}

.bg-custom.scrolled{
    background-color: #f0f5f7;
}


/* Section stylings */
/* #projects,
#work-xp,
#resume-download {
    width: 100vw;
} */

/* .cover .jumbotron {
	align-self: center;
	background: transparent;
	color: #ffffff;
	text-align: center;
	width: 90%;
} */


#work-xp {
    background-color: rgba(119, 155, 154, 0.50);
    min-block-size: 100vh;
}

#work-xp h2 {
    font-weight: bolder;
}

#work-xp > .container > .container, 
#work-xp > .container > .container > ul{
    display: grid;
    grid-gap: 20px;
}

#work-xp .media {
    background-color: #eeeeee;
    padding: 15px;
    color: #333333;
    border-radius: 5px;
}

#media-body li{
    padding: 0;
}

#pdsb {
    text-align: end;
}

#work-xp > .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Projects layout and styles */

#projects{
    background-color: rgba(119, 138, 155, 0.50);
    block-size: 100vh;
    padding: 0;
    margin: 0;
}

#projects > .container{
    min-height: 100vh;
    align-items: center;
    padding: 1vh 0;
}

#projects .display-3 {
    margin-top: 2vh;
    margin-bottom: 4vh;
    color: white;
    font-weight: bolder;
}

.carousel .carousel-item {
    height: 79vh;
}
  
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 100%;
    width: 100%;
    display: block;
    min-height: 79vh;
    height: auto; */
}

#resume-download{
    background-color: rgba(119, 120, 155, 0.95);
    min-block-size: 100vh;
}

.block{
    color: #ffffff;
}

.card {
    color: #333333;
}

#projects .card {
    max-width: 300px;
    min-width: 150px;
    margin: 15px 15px 15px 15px;
    border-color: rgba(119, 138, 155, 0.95);
    padding: 0px 0px 0px 0px;
    transition: all 0.3s linear;
}

#projects .card:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

#work-xp li, 
#projects li{
    list-style-type: none;
    
}

#resume-download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume-header-div {
    text-align: center;
}

footer {
    background-color: rgba(218, 247, 166, 0.9);
    block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}

footer i {
    color: white;
}

#icon-github {
    margin-right: 5vw;
}

#icon-linkedin {
    margin-left: 5vw;
    margin-right: 5vw;
}

#icon-email {
    margin-left: 5vw;
}